<?xml version="1.0"?>
<launch>

  <arg name="viz" default="true" />
  
  <arg name="input_dir" default="/home/emilio/Escritorio/slam_results/" />
  <arg name="voxel_grid_size" default="0.6" />
  <arg name="voxel_grid_every_n_frames" default="3" />

  <group ns="lihash_slam">

    <!-- Keyframe Maker -->
    <node pkg="lihash_slam"
      type="reconstruct"
      name="reconstruct"
      output="screen"
      respawn="false">
      <param name="input_dir" value="$(arg input_dir)" />
      <param name="voxel_grid_size" value="$(arg voxel_grid_size)" />
      <param name="voxel_grid_every_n_frames" value="$(arg voxel_grid_every_n_frames)" />

    </node>

  </group>

  <group if="$(arg viz)">
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find lihash_slam)/rviz/lihash_slam_reconstruct.rviz" />
  </group>

</launch>
